{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'bienvenidos.css' %}">
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="welcome_container">
    <div class="contenedor">
        <div class="text-content">
            <h1>Bienvenidos al restaurante Donde Alejo</h1>
            <p>Disfruta de una experiencia culinaria única, donde el sabor y la tradición se combinan para deleitar tus sentidos. 
                Nuestro restaurante te espera con una selección de los mejores platillos preparados con ingredientes frescos y mucho amor.</p>
        </div>
        <div class="image-container">
            <img src="{% static 'img/alejo.jpeg' %}" alt="Chef sirviendo un plato delicioso">
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<body>

    <h2>Delicias en Imágenes</h2>
<br>
<br>
    <div class="gallery">
        <img src="{% static 'img/1.jpeg'%}" alt="Comida 1">
        <img src="{% static 'img/2.jpeg'%}" alt="Comida 2">
        <img src="{% static 'img/3.jpeg'%}" alt="Comida 3">
        <img src="{% static 'img/4.jpeg'%}" alt="Comida 4">
        <img src="{% static 'img/20.jpeg'%}" alt="Comida 5">
    </div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
