{% extends 'base.html' %}
{% block title %}Cafeteria{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'cafeteria.css' %}">

<div class="cafeteria">
  <h2>Cafetería Donde Alejo</h2>
  
  <div class="contenido_imagenes">
    <img src="{% static 'img/cafeteria1.jpeg' %}" alt="Menú Cafetería Donde Alejo">
    <img src="{% static 'img/cafeteria.jpeg' %}" alt="Menú Cafetería Donde Alejo">
    <img src="{% static 'img/pollo.jpeg' %}" alt="Menú Cafetería Donde Alejo">
  </div>
 
  <p>Haz tu pedido y disfruta de nuestros deliciosos productos.</p>
  <div class="contenedor-boton">
    <a class="btn-domicilio" href="{% url 'domicilios' %}">📦 Pedir Domicilio</a>
  </div>
</div>
{% endblock %}