{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="desayunos">
    <br><br><br><br>
    <h2>🍳 Desayunos con Huevo, Arroz y Patacones</h2>
    <br><br>

    <link rel="stylesheet" href="{% static 'desayunos.css' %}">
    <div class="container">
        <div class="card">
            <img src="{% static 'img/uno1.jpeg' %}" alt="Desayuno 1">
            <div class="description">Huevos fritos, arroz, patacón y chocolate o tinto en agua - $7.000</div>
        </div>
        <div class="card">
            <img src="{% static 'img/huevos.jpg' %}" alt="Desayuno 2">
            <div class="description">Huevos revueltos, arroz, patacon y chocolate o tinto en agua - $7.000</div>
        </div>
        <div class="card">
            <img src="{% static 'img/rancheros.jpg' %}" alt="Desayuno 3">
            <div class="description">Huevos rancheros, arroz, patacón y chocolate o tinto en agua - $10.000</div>
        </div>
    </div>

    <br>
    <a href="{% url 'domicilios' %}" class="btn-domicilio">📦 Pedir Domicilio</a>
</section>
<br><br><br><br><br>

{% endblock %}
