{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'historial.css' %}">
<br>
<br>
<br>
<h1>Historial de Órdenes</h1>
<br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Total</th>
        <th>Método de Pago</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>
    {% for orden in ordenes %}
    <tr>
        <td>{{ orden.id }}</td>
        <td>{{ orden.nombre }}</td>
        <td>{{ orden.email }}</td>
        <td>{{ orden.telefono }}</td>
        <td>${{ orden.total }}</td>
        <td>{{ orden.metodo_pago }}</td>
        <td>{{ orden.fecha_creacion }}</td>
        <td id="estado-{{ orden.id }}">{{ orden.pagado|yesno:"Pagado,No pagado" }}</td>
        <td>
            <button id="btn-{{ orden.id }}" class="btn {% if orden.pagado %}btn-success{% else %}btn-danger{% endif %}" 
onclick="cambiarEstado({{ orden.id }})">
                {% if orden.pagado %}Pagado{% else %}No Pagado{% endif %}
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
function cambiarEstado(ordenId) {
    fetch(`/cambiar-estado/${ordenId}/`, {
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' }
    })
    .then(response => response.json())
    .then(data => {
        if ('estado' in data) {
            let estadoTexto = data.estado ? "Pagado" : "No pagado";
            let estadoColor = data.estado ? "btn-success" : "btn-danger";

            document.getElementById(`estado-${ordenId}`).innerText = estadoTexto;
            let btn = document.getElementById(`btn-${ordenId}`);
            btn.innerText = estadoTexto;
            btn.className = `btn ${estadoColor}`;
        }
    })
    .catch(error => console.error('Error:', error));
}
</script>
<br>
<br>
<br>
<br>
{% endblock %}
