{% extends 'base.html' %}

{% block content %}
{% load static %} 

<body>
    <br>
    <br>
    <br>
    <link rel="stylesheet" href="{% static 'reservar.css' %}">
    <div class="container">
        <br>
        <h2>Haz tu Reserva</h2>
        <br>
        <!-- Mensajes de éxito o error -->
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags == 'success' %}success{% else %}error{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Formulario de reserva -->
        <form method="POST" action="{% url 'reservar' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                {{ form.nombre.errors }}
                {{ form.nombre }}
            </div>
            <br>
            <div class="form-group">
                <label for="nombre">Email:</label>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <br>
            <div class="form-group">
                <label for="nombre">Teléfono:</label>
                {{ form.telefono.errors }}
                {{ form.telefono }}
            </div>
            <br>
            <div class="form-group">
                <label for="nombre">Fecha:</label>
                {{ form.fecha.errors }}
                {{ form.fecha }}
            </div>
            <br>
            <div class="form-group">
                <label for="nombre">Hora:</label>
                {{ form.hora.errors }}
                {{ form.hora }}
            </div>
            <br>
            <div class="form-group">
                <label for="nombre"># de personas:</label>
                {{ form.cantidad_personas.errors }}
                {{ form.cantidad_personas }}
            </div>
            <br>
            <div class="form-group">
                <label for="nombre">Mensaje adicional:</label>
                {{ form.mensaje.errors }}
                {{ form.mensaje }}
            </div>
            <br>
            <button type="submit">Reservar</button>
        </form>
    </div>
</body>
<br>
<br>
<br>
{% endblock %}