.container {
    text-align: center;
    padding: 20px;
}

.title {
    padding: 40px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Montserrat Alternates', sans-serif;
} 

.almuerzo {
    display: flex;
    justify-content: center;
}


.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}


.day {
    background: #D2B48C;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    width: 400px;  
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.day img {
    width: 100%;
    max-width: 380px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}


.day h3 {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 15px;
    font-weight: bold;
}


.button-container {
    text-align: center;
    margin-top: 20px;
    padding: 50px;
}

.btn-domicilio {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 25px;
    background-color: #000000;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-domicilio:hover {
    background-color: #333;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .days {
        gap: 20px;
    }

    .day {
        width: 320px;
        height: auto;
        padding: 20px;
    }

    .day img {
        height: 300px;
        max-width: 100%;
    }

    .day h3 {
        font-size: 1.6rem;
    }

    .btn-domicilio {
        font-size: 1.2em;
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.8rem;
        padding: 30px;
    }

    .days {
        flex-direction: column;
        align-items: center;
    }

    .day {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .day img {
        height: 250px;
    }

    .day h3 {
        font-size: 1.4rem;
    }

    .btn-domicilio {
        font-size: 1.1em;
        padding: 10px 18px;
        display: block;
        margin: 20px auto;
    }
}
