.contenedor {
  background: linear-gradient(45deg, #a85a00c9, #ffffffc0);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 120px;
}

/* Caja principal */
.cafeteria {
  text-align: center;
  padding: 40px;
  padding: 20px 120px;
}

/* Organización de imágenes */
.contenido_imagenes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* Permite que bajen si no caben */
}

.contenido_imagenes img {
  width: 300px; /* Mantiene un tamaño fijo */
  height: 300px; /* Mantiene proporción */
  object-fit: cover; /* Evita distorsiones */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

/* Texto */
.cafeteria h1 {
  font-size: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.cafeteria p {
  font-size: 18px;
  color: #000000;
}

/* Botón */
.btn-pedido {
  display: inline-block;
  background-color: #ff5100;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-pedido:hover {
  background-color: #ffe600;
  color: rgb(0, 0, 0);
}

/* Responsivo */

/* Para celulares */
@media (max-width: 768px) {
  .contenido_imagenes {
      flex-direction: column; /* Se apilan verticalmente */
      align-items: center; /* Centra las imágenes */
  }

  .contenido_imagenes img {
      width: 90%; /* Ajusta el ancho al 90% de la pantalla */
      max-width: 400px; /* Máximo de 400px para que no sean demasiado grandes */
      height: auto; /* Mantiene la proporción */
  }
}

