.profile-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #ebe9d5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}

.profile-card {
    padding: 20px;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    
}

.profile-card ul {
    list-style: none;
    padding: 0;
}

.profile-card li {
    margin: 10px 0;
    font-size: 18px;
    color: black;
}

.profile-actions {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary {
    background: #e3e0c2;
    color: white;
}

.perfil-imagen {
    width: 60px;
    height: 60px;
} 

.usuario {
    color: black;
    font-weight: bold;
    font-size: 40px;
}