@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    /* background: linear-gradient(45deg, #a85a00c9,#ffffffc0 );   */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url('/static/img/fondo-login.jpg'); 
	background-size: 100% 100%;
	background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 60px;  /* Aumentamos el padding */

    width: 90%;
    max-width: 500px;  /* Aumentamos el tamaño del formulario */
    text-align: center;
}

h2 {
    color: white;
    font-size: 2.5rem;  /* Aumentamos tamaño del título */
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 12px;  /* Aumentamos el padding */
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: white;
    font-size: 18px;  /* Aumentamos tamaño de fuente */
}

button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;  /* Aumentamos tamaño de fuente */
    cursor: pointer;
}

button:hover {
    background-color: rgb(165, 100, 14);
    color: rgb(255, 255, 255);
}

p {
    color: white;
    margin-top: 15px;
    font-size: 16px;  /* Aumentamos tamaño del texto */
}

a {
    color: yellow;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
